---
layout: 'default'
---

<main class="container assignment-container">
  <!-- Table of contents -->
  <section>
    <div class="toc">
      <header><h4>Table of contents</h4></header>
      <ul class="entries">
        <li><a href="#description">Description</a></li>
        <li><a href="#topics">Topics</a></li>
        {% if page.outcomes %}
          <li><a href="#intended-learning-outcomes">Intended learning outcomes</a></li>
        {% endif %}
        <li><a href="#instructional-materials">Instructional materials</a></li>
        <li><a href="#documentation">Documentation</a></li>
      </ul>
    </div>
  </section>

  <!-- Main content -->
  <article class="assignment">
    <h2 id="description">Description</h2>
    <p>{{ page.description }}</p>
    <figure>
      <img src="{% link assets/images/example-output/{{ page.key }}.png %}" alt="Example output">
      <figcaption>
        {% if page.image_caption %}
          {{ page.image_caption }}
        {% else %}
          {{ page.title }} example output
        {% endif %}
      </figcaption>
    </figure>

    <h2 id="topics">Topics</h2>
    <ul>
      {% for topic in page.topics %}
        <li>{{ topic }}</li>
      {% endfor %}
    </ul>

    {% if page.outcomes %}
      <h2 id="intended-learning-outcomes">Intended learning outcomes</h2>
      <ul>
        {% for item in page.outcomes %}
          <li><strong>{{ item.verb }}:</strong> {{ item.outcome }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <h2 id="instructional-materials">Instructional materials</h2>
    <div class="warning">
      <p>
        <strong>BRIDGES instructors:</strong>
        To access teacher files or solution files, use the Bridges_Users Shared Drive.
        If you do not already have access, please contact <a href="mailto: iuse-bridges-group@uncc.edu">iuse-bridges-group@uncc.edu</a>.
      </p>
    </div>

    <h4>Student files</h4>
    {% if page.java %}
      {% if page.python %} Java {% endif %}
      <ul>
        {% for file in page.java.student_files %}
          <li><a href="{{ file.link }}">{{ file.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if page.python %}
      {% if page.java %} Python {% endif %}
      <ul>
        {% for file in page.python.student_files %}
          <li><a href="{{ file.link }}">{{ file.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    <h4>Teacher files</h4>
    {% if page.java %}
      {% if page.python %} Java {% endif %}
      <ul>
        {% for file in page.java.teacher_files %}
          <li>{{ file }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if page.python %}
      {% if page.java %} Python {% endif %}
      <ul>
        {% for file in page.python.teacher_files %}
          <li>{{ file }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <h2 id="documentation">Documentation</h2>
    <ul>
      {% for class in page.documentation %}
        <li>
          {{ class }}
          {% if page.java %}
            <a href="{{ site.data.java_links[class] }}">[Java]</a>
          {% endif %}
          {% if page.python %}
            <a href="{{ site.data.python_links[class] }}">[Python]</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </article>
</main>
